@import url("styles/header.css");
@import url("styles/rodape.css");
@import url("styles/quem-somos.css");
@import url("styles/pesquisar.css");
@import url("styles/contato.css");
@import url("styles/carrossel.css");
@import url("styles/produtos.css");
@import url("styles/loginForm.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --container-width: 86.75;
}
.container {
    max-width: 73.125rem;
    margin-inline: auto;
    width: calc(var(--container-width) * 1%);
}


  

main {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    
}