
.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1rem 0 0.5rem 0;
}

.container.swiper {
    margin: 0 auto;
}


.swiper-slide {
    width: calc(50% - 20px);
    margin-right: 20px; 

}


.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5rem 0;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 10rem;
    max-height: 12rem;
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;

}

.card h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0.5rem;
    text-transform: uppercase;
}

.precoAntigo {
    text-decoration: line-through;
}

@media  (min-width: 40em) {
    .swiper-slide {
        width: calc(33.33% - 30px); /* Define a largura dos slides para ocupar um terço da largura da tela, com margem */
        margin-right: 20px; 
    }
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2rem 0 3rem 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        
        margin: 2rem auto;
    }
}

@media (min-width: 80em) {
    .carrossel__container {
        display: flex;
        margin: 0 20vw 3rem 20vw;
        align-itrems: center;
    }

    .swiper-pagination {
        margin: 1rem 0;
    }

 

    .card {
        width: 80%;
        margin-left: 3rem;
    }

}