.produtos {
    background: linear-gradient(80deg, #007bff -3.31%, #e2d1ff 100.71%);
    width: 100%;
    
}
.container.layout {
    padding-top: 2rem;
   
}
.botaoVerMais {
    color: #007bff;
    background: white;
    border: 1px solid var(--azul-degrade);
    border-radius: 5px;
    width: 90%;
    
}

.layout h2 {
    color: #333333;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.itens {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    
}

.item {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    align-items: center;
}

.botao {
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    
}

.titulo {
    color: #333333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.preco {
    color: #333333;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.botao:hover {
    background: #0056b3;
}

@media (min-width: 40em) {
    .itens {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

}

.skeleton-item {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    animation: pulse 1.5s infinite;
}

.skeleton-title, .skeleton-price, .skeleton-button {
    background-color: #ddd;
    border-radius: 4px;
}

.skeleton-title {
    width: 60%;
    height: 24px;
}

.skeleton-price {
    width: 30%;
    height: 20px;
}

.skeleton-button {
    width: 50%;
    height: 30px;
}

@keyframes pulse {
    0% {
        background-color: #ddd;
    }
    50% {
        background-color: #ccc;
    }
    100% {
        background-color: #ddd;
    }
}