hr {
    margin: 0;
}

.container.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media (min-width: 40em) {
    .rodape {
        display: flex;
        justify-content: space-between;
    }

    .lista-rodape {
        display: block;
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .rodape__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
        font-size: 1.5rem;
    }

    .rodape__titulo {
        font-size: 2rem;
        color: var(--cinza-claro);
    }

    
}
